* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: "Courier New", Courier, monospace, Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
ul,
ol {
	list-style: none;
}
